{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
$(document).ready(function(){
    var app = {};


    $("#clickMe").on("click", function(){
        $("#iframe").attr("src", "https://www.youtube.com/embed/iNpXCzaWW1s?autoplay=1");
        console.log(Date())
    });
    
});    

</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="container">
            <a href="#" id="clickMe">PLAY</a>
            <iframe id="iframe" width="200" height="300" src="https://www.youtube.com/embed/iNpXCzaWW1s?autoplay=" frameborder="0"></iframe> 

        </div>   
    </div>
</div>
{% endblock %}
